<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guilh.gerenciadordefilhos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaPrincipal" />
        <activity android:name=".CadastroFilho" />
        <activity android:name=".CadastroUsuario" />
        <activity android:name=".CadastroVacinas" />
        <activity android:name=".TelaVacina" />
        <activity android:name=".TelaProduto" />
        <activity android:name=".CadastroEvento" />
        <activity android:name=".TelaEvento" />
        <activity android:name=".CadastroMedicamento" />
        <activity android:name=".TelaMedicamento" />
        <activity android:name=".TelaDetalheMedicamento" />
        <activity android:name=".TelaVacinacao" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TelaRelatorio" />
        <activity android:name=".RelatorioProduto" />
        <activity android:name=".RelatorioVacina"></activity>
    </application>

</manifest>